<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>ADD PRODUCT</title>
	<link rel="stylesheet" th:href="@{/main.css}" />
</head>
<body>
	<h1>Product</h1>
	<p th:utext="${notification}" class="notification"></p>
	<form th:action="@{/products/addProduct}" th:object="${product}" method="post">
		<table cellspacing="10" border="0">
			<tr>
				<td align="right">Product code:<td> 
				<td><input type="text" th:field="*{code}" id=""><td>
			</tr>
			<tr>
				<td align="right">Product description:<td> 
				<td><input type="text" th:field="*{description}" id=""><td>
			</tr>
			<tr>
				<td align="right">Product price:<td> 
				<td><input type="text" th:field="*{price}" id=""><td>
			</tr>
		</table>
		<button type="submit" style="text-decoration: none; color: black; font-size: 15px;">Insert product</button>
		<button><a th:href="@{/products}" style="text-decoration: none; color: black; font-size: 15px;">View Products</a></button>
	</form>
	
	<br>
</body>
</html>